.skill-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-icon {
  width: 6rem;
  height: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.format-me {
  /*background-color: transparent !important;*/
  overflow: hidden;
}

.format-me img {
  width: 8rem;
}

.tuitt-image {
  width: 4rem;
}

header.masthead {
  background-image: url('../img/wallpaper.jpg');
}

footer {
  background-color: #212529;
}

.copyright {
  color: white;
}